* {
    font-family: "Segoe UI";
    font-weight: 200;
  }
  body {
    background: rgb(0, 0, 0);
  }

  html{

    margin: 0;
    padding: 0;
    
    }

  .modo{

        color:rgb(255, 255, 255);
        font-size: 10px;

  }



  h1 {
    text-align: center;
    margin-top: 100px;
    padding-top:100px ;
    color: #fff;
  }

  

  section {
     height: 75px;
  }


input {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
     
  }
  input:hover {
    background: rgb(138, 140, 155);
    color: rgb(255, 255, 255);
  }

  p .modo{

        font-size: 100px;
   }

   
img{

    height: 110px;
  padding-right:15%;
  padding-top:70px ;
  margin-bottom: 30px;

  }
  
  div.imge{
    padding-bottom:10px ;
     height: 5px;
     align-content: center;
     margin-bottom: 140px;
   
   }
  
  .botoncito{


    position: relative;
    
    display: inline-block;
    
    width: 3.6rem;
    
    height: 2rem;
    
    }
  
    .botoncito input { 
  
      opacity: 0;
      
      width: 0;
      
      height: 0;
      
      }
      
      .deslizadora{
  
        position: absolute;
        
        cursor: pointer;
        
        top: 0;
        
        left: 0;
        
        right: 0;
        
        bottom: 0;
        
        background-color: rgb(0, 0, 0);
        
        transition: .4s;

        border-radius: 100px;

        -webkit-border-radius: 100px;
    
        -moz-border-radius: 100px;
    
        -ms-border-radius: 100px;
        
        -o-border-radius: 100px

        
        }
        
        
        
        .deslizadora:before {
        
        position: absolute;
        
        content: "";
        
        height: 1.6rem;
        
        width: 1.6rem;
        
        left: 0.2rem;
        
        bottom: 0.2rem;
        
        background-color: rgb(255, 208, 0);
        
        transition: .4s;

        border-radius: 100px;

      -webkit-border-radius: 100px;
  
      -moz-border-radius: 100px;
  
      -ms-border-radius: 100px;
      
      -o-border-radius: 100px
        
        }
        
        
        
        input:checked + .deslizadora {
        
        background-color: #ffffff;
        
        }
        
        input:hover{

                color:rgb(255, 208, 0);

         }
        
        input:checked + .deslizadora:before {
        
          transform: translateX(1.7rem);
          
        }
        
            
            #navegador li {
                        padding:  10px 2px 10px 2px;

                       background-color: #ffffff; width: 12%;
                       
                       float: left;
            
                       list-style-type: none; position: relative;
          
                       border-top: 0px solid white;
          
                       border-radius: 20px;
          
                       -webkit-border-radius: 20px;
                   
                       -moz-border-radius: 20px;
                   
                       -ms-border-radius: 20px;
                       
                       -o-border-radius: 20px
}
            #subseccion1 { position: absolute; top: 100%; left: 0px;  
            
                         background-color: #000000; font-size:  10px ;

                         padding-top: 5px;
            
                         padding:  0.5em 2.0em; display: none;border-bottom: 0.50px solid  rgb(255, 208, 0);
            
                         }				 
            #navegador li:hover { background-color: #5f5b5b; }
            
            #navegador li a:link, #navegador li a:visited { 
                       color: #000000; text-decoration: none; }
            
            #navegador li a:hover, #navegador li a:active { 
                       color:#ffffff ; text-decoration: none; }
            
            .borrar { clear: both; }



            /*calculator*/

            
        h2{
          
         color: rgb(255, 217, 0);
         font-size: 50px;


        }

        

            table {
              width: 950px;
            
            align-content: center;
          }
          button {
              width: 100%;
              font-size: 150%;
              border: 5px solid yellow;
              background-color: rgb(131, 131, 131);
              border-radius: 15px;
          
                       -webkit-border-radius: 15px;
                   
                       -moz-border-radius: 15px;
                   
                       -ms-border-radius: 15px;
                       
                       -o-border-radius: 15px;

                       font-style: border;
                       font-size: 30px;

                       
}
          
          
          .acd{
              color: red;
              
          }

          .result{

           background-color: rgb(41, 47, 68);
           height:  100px;
           font-size: 70px;
           font-family: 'Segoe UI';
           color:yellow


          }

          button.uno:hover{
    
            background-color: rgba(238, 236, 236, 0.233);
     

       }
.acd:hover{
    background-color:red;
    opacity:5.9;
  color:black;
    
}
            
            
            
            
